@charset "UTF-8";
@import "colors";

/*========= base ===========*/

* {
    box-sizing: border-box;    
}

html {
  margin: 0;
  padding:0;
  scroll-padding-top: 60px;
}

body {
    background-image:url("../img/background.png");
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

h2 {
    font-family: Futura-CondensedMedium, sans-serif;
    font-weight: normal;
    font-size: 43px;
    text-align: center;
    color: #301f1b;
}

ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

p {
  margin: 0;
}

a { 
  text-decoration: none;
  cursor: pointer;
}

hr {
  width: 80px;
  border-top: 5px solid #3F51B5;
}

.inner {
    margin: 0 auto;
    max-width: 810px;
}

$layout-width-inner: 1086px;

$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: 1104px)",
  "pc": "screen and (min-width: 1105px)",
);

$tab-per: 0.8;

$sp-per: 0.35;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/*========= header-nav ===========*/

.header-nav {
    .header-list {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: 90px;
        justify-content: center;
        text-align: center;     
        .menu-item {
            margin-right: 30.5px;
            &:last-child {
                margin-right: 0;
            }
            p {
                color: $brown;
                font-size: 12px;
            }
            a {
                color: $brown;
                font-size: 22px;
            }
        }
    }
}

/*========= mainvisual ===========*/

.mainvisual {
    background-image:url("../img/main-image.png");
    background-size: cover;
    height: 520px;
    padding-top: 60px;
    position: relative;
    &-text {
        height: 400px;
        margin: 0 auto ;
        max-width: 920px;
        overflow: hidden;
        position: relative;
        .mainvisual-schedule {
            bottom: 0;
            left: 0;
            position: absolute;
        }
        p {
            bottom: 0;
            color: $white;
            font-size: 14px;
            position: absolute;
            right: 0;
            width: 340px;
        }
    }
    .reservation {
        background-color: $orange;
        bottom: -30px;
        color: $white;
        font-size: 14px;
        line-height: 60px;
        padding: 0 30px 0 30px;
        position: absolute;
        right: 110px;
        transition: all 0.3s ease 0s;
        &:hover {
            opacity: 0.8;
        }
    }
}

/*========= mainvisual-child ===========*/
.mainvisual-child {
    background-image: url("../img/main-image-child.png");
    background-size: cover;
    .inner { 
        height: 180px;
        padding-top: 58px;
        position: relative;
        .mainvisual-child-text {
            align-items: flex-end;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
        }
        .reservation-child {
            background-color: $orange;
            bottom: -20px;
            color: $white;
            font-size: 12px;
            line-height: 40px;
            padding: 0 15px 0 15px;
            position: absolute;
            right: 0;
            transition: all 0.3s ease 0s;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

/*========= introduction ===========*/
.introduction {
    padding-top: 60px;
    .inner {
        background-color: rgba($color: #FFF, $alpha: 0.29);
        padding: 30px;
        position: relative;
        img {
            left: 0;
            position: absolute;
            top: 0;
        }
        h2 {
            font-size: 43px;
            margin-bottom: 15px;
            text-align: center;
        }
        h3 {
            color: #301f1b;
            font-size: 34px;
            margin-bottom: 30px;
            text-align: center;
        }
        .introduction-text {
            display: flex;
            p {
                color: $black;
                font-size: 12px;
                width: 360px;
                &:first-child {
                    margin-right: 30px;
                }
            }
        }
    }
}

/*========= news ===========*/
.news {
    padding: 60px 0 62px 0;
    .inner {
        position: relative;
        a {
            background-color: $orange;
            color: $white;
            font-size: 14px;
            line-height: 40px;
            padding: 0 20px 0 20px;
            position: absolute;
            right: 0;
            top: 20px;
            transition: all 0.3s ease 0s;
            &:hover {
                opacity: 0.8;
            }
        }
        h2 {
            margin-bottom: 29px;
        }
        .news-contents1 {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 30px;
            img {
                vertical-align: bottom;
            }
            .news-item1 {
                margin-right: 30px;
                width: calc(33.3% - 60px / 3);
                &:last-child {
                    margin-right: 0;
                }
                &-text {
                    background-color: $white;
                    height: 120px;
                    line-height: 21px;
                    padding: 14px 15px 0 15px;
                    time {
                        font-size: 12px;
                        color: #666;
                    }
                    p {
                        color: $black;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
        }
        .news-contents2 {
            display: flex;
            flex-wrap: wrap;
            .news-item2 {
                display: flex;
                margin-right: 30px;
                width: calc(50% - 30px / 2);
                &:last-child {
                    margin-right: 0;
                }
                img {
                    height: 88px;
                    width: 156px;
                }
                &-text {
                    background-color: $white;
                    height: 88px;
                    line-height: 21px;
                    padding: 14.6px 15px 13.5px 15px;
                    width: 234px;
                    time {
                        color: #666;
                        font-size: 12px;
                    }
                    p {
                        color: #333;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

/*========= breadcrumb ===========*/
.breadcrumb {
    font-size: 12px;
    padding-top: 30.5px;
    span {
        color: $black;
        font-weight: bold;
    }
}

/*========= news-child ===========*/

.news-child {
    padding-top: 27.9px;
    .inner {
        h2 {
            margin-bottom: 29px;
        }
        .news-child-contents {
            display: flex;
            flex-wrap: wrap;
            .news-child-item {
                margin-bottom: 30px;
                margin-right: 30px;
                width: 250px;
                &:nth-child(3n),
                &:last-child {
                    margin-right: 0;
                }
                img {
                    vertical-align: bottom;
                }
                &-text {
                    background-color: $white;
                    height: 120px;
                    padding: 14px 15px 0 15px;
                    time {
                        color: #666;
                        font-size: 12px;
                    }
                    p {
                        color: $black;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
        }
        .pagenation {
            display: flex;
            justify-content: center;
            .page-numbers {
                background-color: #1A1A1A;
                color: #F4D102;
                display: block;
                font-size: 12px;
                line-height: 27px;
                margin-right: 9px;
                height: 27px;
                text-align: center;
                width: 27px;
                &:last-child {
                    margin-right: 0;
                }
            }
            .next {
                background-color: rgba(0, 0, 0, 0);
                border: 2px solid #1A1A1A;
                color: #1A1A1A;
                font-weight: bold;
                line-height: 21px;
            }
        }
    }
}

/*========= news-single ===========*/
.news-single {
    padding-top: 28px;
    .inner {
        overflow: hidden;
        h2 {
            margin-bottom: 28px;
        }
        img {
            vertical-align: bottom;
        }
        .news-single-title {
            background-color: #1A1A1A;
            color: $white;
            padding: 14px 30px 17.5px 30px;
            time {
                font-size: 12px;
            }
            h3 {
                font-size: 26px;
                font-weight: bold;
            }
        }
        .news-single-content {
            background-color: rgba(255, 255, 255, 0.9);
            color: $black;
            margin-bottom: 30px;
            padding: 30px 30px 25px 30px;
            h3 {
                font-size: 22px;
                font-weight: bold;
                margin-bottom: 20px;
            }
            h4 {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 20px;
            }
            p {
                font-size: 16px;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .news-single-prev-next {
            display: flex;
            justify-content: space-between;
            .news-single-prev {
                display: flex;
                &-text {
                    margin-left: 12.5px;
                    width: 345px;
                }
            }
            .news-single-next {
                display: flex;
                &-text {
                    margin-right: 12.5px;
                }
            }
            .news-single-button {
                background-color: #1A1A1A;
                border-radius: 50%;
                color: #F1C201;
                display: block;
                font-size: 18px;
                line-height: 30px;
                height: 32.5px;
                margin: auto 0;
                text-align: center;
                width: 32.5px;
            }
            time {
                color: $black;
                font-size: 12px;
            }
            p {
                color: $black;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}

/*========= story ===========*/

.story {
    background-image:url("../img/story.png");
    background-size: cover;
    height: 420px;
    padding-top: 30px;
    .inner {
        h2 {
            color: $white;
            margin-bottom: 19px;
        }
        p {
            color: $white;
            font-size: 12px;
            margin: 0 0 9px auto;
            width: 320px;
        }
        a {
            background-color: $orange;
            color: $white;
            display: block;
            font-size: 14px;
            height: 36px;
            line-height: 36px;
            margin: 0 0 0 auto;
            text-align: center;
            transition: all 0.3s ease 0s;
            width: 115px;          
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

/*========= story-child ===========*/
.story-child {
    .story-child-content1 {
        background-image: url("../img/story-child1.png");
        background-size: cover;
        height: 635px;
        padding-top: 58px;
        .inner {
            h1 {
                height: 68px;
            }
            .story-child-content1-text {
                align-items: flex-end;
                display: flex;
                justify-content: space-between;
                margin-bottom: 36px;
                overflow: hidden;
            }
            .story-child-reservation {
                background-color: $orange;
                color: $white;
                display: block;
                font-size: 12px;
                height: 40px;
                line-height: 40px;
                margin: 0 0 0 auto;
                text-align: center;
                transition: all 0.3s ease 0s;
                width: 150px;
                &:hover {
                    opacity: 0.8;
                }
            }
            .breadcrumb {
                padding: 14.5px 0 0 0;
                span {
                    color: $white;
                }
            }
            h2 {
                color: $white;
                padding-top: 28px;
            }
            .story-child-content1-item {
                align-items: center;
                color: $white;
                display: flex;
                justify-content: space-between;
                padding-top: 54px;
                h3 {
                    font-size: 26px;
                    padding-left: 150px;
                }
                p {
                    font-size: 12px;
                    line-height: 22px;
                    width: 390px;
                }
            }
        }
    }
    .story-child-content2 {
        background-color: #000;
        background-image: url("../img/story-child2.png");
        background-size: cover;
        height: 325px;
        width: 100%;
        p {
            color: $white;
            font-size: 12px;
            line-height: 21px;
            padding-top: 60px;
            width: 390px;
        }
    }
    .story-child-content3 {
        background-color: #000;
        background-image: url("../img/story-child3.png");
        background-size: cover;
        height: 325px;
        width: 100%;
        p {
            color: $white;
            font-size: 12px;
            line-height: 21px;
            margin: 0 0 0 auto;
            padding-top: 60px;
            width: 390px;
        }
    } 
    .story-child-content4 {
        background-color: #000;
        background-image: url("../img/story-child4.png");
        background-size: cover;
        height: 325px;
        width: 100%;
        p {
            color: $white;
            font-size: 12px;
            line-height: 21px;
            padding-top: 60px;
            width: 390px;
        }
    }
}

/*========= comments ===========*/

.comments {
    padding-top: 59px;
    .inner {
        h2 {
            margin-bottom: 33px;
        }
        h3 {
            color: #301f1b;
            font-size: 24px;
            margin-bottom: 33px;
            text-align: center;
        }
        .comments-contents {
            background-image: url("../img/comments.png");
            color: $white;
            height: 215px;
            padding: 44px 0 0 30px;
            position: relative;
            h4 {
                font-size: 22px;
                margin-bottom: 15px;
            }
            p {
                font-size: 14px;
                width: 420px;
            }
            a {
                background-color: $orange;
                bottom: 14.5px;
                color: $white;
                display: block;
                font-size: 14px;
                height: 36px;
                line-height: 36px;
                margin: 0 0 0 auto;
                position: absolute;
                right: 14.3px;
                text-align: center;
                transition: all 0.3s ease 0s;
                width: 116px;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

/*========= cast ===========*/
.cast {
    padding: 60px 0 30px;
    position: relative;
    .cast-background {
        background-color: $white;
        bottom: 0;
        height: 618px;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    h2 {
        margin-bottom: 24px;
    }
    .inner {
        .cast-contents {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 15.4px;
            .cast-item {
                width: 250px;
                img {
                    display: block;
                    margin: 0 auto 38.8px;
                }
                h4 {
                    color: $black;
                    font-size: 16px;
                    margin-bottom: 7px;
                    text-align: center;
                }
                h3 {
                    color: $black;
                    font-size: 18px;
                    margin-bottom: 7px;
                    text-align: center;
                }
                h5 {
                    color: #666;
                    font-size: 12px;
                    margin-bottom: 12.2px;
                    text-align: center;
                }
                .cast-marginbottom {
                    margin-bottom: 38px;
                }
                p {
                    color: #666;
                    font-size: 12px;
                }
            }
        }
        a {
            background-color: $white;
            border: 6px solid $orange;
            color: $orange;
            display: block;
            font-size: 14px;
            height: 35px;
            line-height: 26px;
            margin: 0 auto;
            text-align: center;
            transition: all 0.3s ease 0s;
            width: 116px;   
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

/*========= schedule ===========*/

.schedule {
    padding: 60px 0 60px;
    .inner {
        background-color: rgba($color: #FFF, $alpha: 0.29);
        margin-bottom: 30px;
        padding: 30px 72px 60px;
        h2 {
            margin-bottom: 29px;
        }
        .schedule-contents {
            .schedule-item {
                color: #301f1b;
                display: flex;
                font-size: 20px;
                justify-content: space-between;
                margin-bottom: 25px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    color: #301f1b;
                    text-decoration: underline;
                    transition: all 0.3s ease 0s;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
    .schedule-links {
        display: flex;
        justify-content: center;
        text-align: center;
        .schedule-link {
            color: $white;
            display: block;
            font-size: 13px;
            height: 60px;
            line-height: 60px;
            transition: all 0.3s ease 0s;
            width: 193px;
            &:hover {
                opacity: 0.8;
            }
        }
        .schedule-link-1 {
            background-color: #603813;
            margin-right: 30px;
        }
        .schedule-link-2 {
            background-color: $orange;
        }
    }
}

/*========= footer ===========*/

footer {
    background-color: #1A1A1A;
    height: 80px;
    p {
        color: $white;
        font-size: 12px;
        line-height: 80px;
        text-align: center;
    }
}